@import "../2_base/2_base";

// Mobile devices
@media (max-width: 767px) {
  .completeReservationContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .completeReservationPart1Container {
    display: none;
  }
  .completeReservationPart2Container {
    width: 100%;
    height: 75%;
  }
}
// Desktop devices
@media (min-width: 768px) {
  .completeReservationContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  .completeReservationPart1Container {
    width: 48%;
    height: 100%;
    overflow: hidden;
  }
  .completeReservationPart2Container {
    width: 52%;
    height: 100%;
    position: relative;
    overflow: scroll;
  }
}
